### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Display headers
purchase_data.head(6)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61

## Player Count

In [2]:
# Display the total players by using the purchase ID

total_players = purchase_data["Purchase ID"].count()
print("Total Players =", total_players)

Total Players = 780

# Unique Data

In [3]:
# Display Unique Data as an example
purchase_data["Gender"].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Minimum and Maximum Prices
maximum = purchase_data["Price"].max()
minimum = purchase_data["Price"].min()

# Average Price
average = purchase_data["Price"].mean()

# Total Sales
total = purchase_data["Price"].sum()

# Total Transactions
count = purchase_data["Price"].count()

In [5]:
# Summary Table with the previous data
summary_df = pd.DataFrame({
    "Highest Transaction": [maximum],
    "Lowest Transaction": [minimum],
    "Average Transaction": [average],
    "Total Sales": [total],
    "Number of Transactions": [count]
})
summary_df

,Highest Transaction,Lowest Transaction,Average Transaction,Total Sales,Number of Transactions
0,4.99,1.0,3.050987,2379.77,780

In [6]:
# Save data frame as csv.
summary_df.to_csv("Outputs/Purchasing_Analysis.csv")

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
# Display Gender Totals
purchase_data["Gender"].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [8]:
# Use gender totals to prep data into a data frame
male_count = 652
female_count = 113
other_count = 15
total_count = 652 + 113 + 15
male_pct = male_count / total_count
female_pct = female_count / total_count
other_pct = other_count / total_count

In [9]:
# Create the data frame using indexing
gender_df = pd.DataFrame({
    "Gender Count": [male_count, female_count, other_count], "Gender Percentage": [male_pct, female_pct, other_pct]
})
gender_df.index = ["Male", "Female", "Other"]
gender_df

        Gender Count  Gender Percentage
Male             652           0.835897
Female           113           0.144872
Other             15           0.019231

In [10]:
# save gender demographics data frame as a csv.
gender_df.to_csv("Outputs/Gender_Demographics.csv")


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
# Group records by gender, perform count on SN, average on price, and average on age.
gender_agg =  purchase_data.groupby("Gender",as_index=False).agg({"SN" : "count","Price" : "mean", "Age" : "mean"})

# Rename the columns
print(gender_agg.rename(columns={"SN" : "Count", "Price" : "Average Price", "Age" : "Average Age"}))

                  Gender  Count  Average Price  Average Age
0                 Female    113       3.203009    21.345133
1                   Male    652       3.017853    22.917178
2  Other / Non-Disclosed     15       3.346000    24.200000

In [12]:
# Save the gender purchasing analysis output as a csv
gender_agg.to_csv("Outputs/Gender_Purchasing_Analysis.csv")

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
# Need to know the oldest and youngest buyers
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [14]:
# Create bins in which to place values based upon Age groups
bins = [0, 17, 24, 29, 34, 39, 45]

# Create labels for these bins
group_labels = ["0 to 17", "18 to 25", "26 to 30", "31 to 35", "36 to 40", "40 to 100"]

In [15]:
# Slice the data and place it into bins
pd.cut(purchase_data["Age"], bins, labels=group_labels).head()

0     18 to 25
1    40 to 100
2     18 to 25
3     18 to 25
4     18 to 25
Name: Age, dtype: category
Categories (6, object): ['0 to 17' < '18 to 25' < '26 to 30' < '31 to 35' < '36 to 40' < '40 to 100']

In [16]:
# create the additional column with the new data
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,18 to 25
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40 to 100
2,2,Ithergue48,24,Male,92,Final Critic,4.88,18 to 25
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,18 to 25
4,4,Iskosia90,23,Male,131,Fury,1.44,18 to 25

In [17]:
# Count how many fall into the different age groups
purchase_data["Age Group"].value_counts()

18 to 25     414
0 to 17      138
26 to 30     101
31 to 35      73
36 to 40      41
40 to 100     13
Name: Age Group, dtype: int64

In [18]:
# Use age group counts to prep data into a data frame
to17_count = 138
to25_count = 414
to30_count = 101
to35_count = 73
to40_count = 41
to100_count = 13

In [19]:
# Use age group percentages to prep data into a frame
to17_pct = to17_count / total_count
to25_pct = to25_count / total_count
to30_pct = to30_count / total_count
to35_pct = to35_count / total_count
to40_pct = to40_count / total_count
to100_pct = to100_count / total_count

In [20]:
# Create the data frame with the previous data by age group
age_df = pd.DataFrame({
    "Age Group Count": [to17_count, to25_count, to30_count, to35_count, to40_count, to100_count], "Age Group Percentage": [to17_pct, to25_pct, to30_pct, to35_pct, to40_pct, to100_pct]
})
age_df.index = ["Minors", "Ages 18 to 24", "Ages 25 to 30", "Ages 31 to 35", "Ages 36 to 40", "Ages 41 and older"]
age_df

                   Age Group Count  Age Group Percentage
Minors                         138              0.176923
Ages 18 to 24                  414              0.530769
Ages 25 to 30                  101              0.129487
Ages 31 to 35                   73              0.093590
Ages 36 to 40                   41              0.052564
Ages 41 and older               13              0.016667

In [21]:
# Save the age demographics output as a csv.
age_df.to_csv("Outputs/Age_Demographics.csv")

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
# display what is already in bins
age_df = pd.DataFrame({
    "Age Group Count": [to17_count, to25_count, to30_count, to35_count, to40_count, to100_count], "Age Group Percentage": [to17_pct, to25_pct, to30_pct, to35_pct, to40_pct, to100_pct]
})
age_df.index = ["Minors", "Ages 18 to 24", "Ages 25 to 30", "Ages 31 to 35", "Ages 36 to 40", "Ages 41 and older"]
age_df

                   Age Group Count  Age Group Percentage
Minors                         138              0.176923
Ages 18 to 24                  414              0.530769
Ages 25 to 30                  101              0.129487
Ages 31 to 35                   73              0.093590
Ages 36 to 40                   41              0.052564
Ages 41 and older               13              0.016667

In [23]:
# Display what is already in colums (including the most recent column addition)
purchase_data.head(1)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,18 to 25

In [24]:
# Drop all rows with missing information
purchase_data = purchase_data.dropna(how='any')

In [25]:
# Create formulas to calculate the total sales, average price, and total transactions by age group.
agegroup_sales =  purchase_data.groupby(["Age Group"],as_index=False).Price.sum()
agegroup_avgprice = purchase_data.groupby(["Age Group"],as_index=False).Price.mean()
agegroup_transcount = purchase_data.groupby(["Age Group"],as_index=False).Age.count()

In [26]:
# Create the data frame using an indexing method to produce the data frame.
age_analysis = pd.DataFrame({
    "Sales by Age Group": agegroup_sales.Price, "Avg Price by Age Group": agegroup_avgprice.Price, "Total Transactions": agegroup_transcount.Age
})
age_analysis.index = ["Minors", "Ages 18 to 24", "Ages 25 to 30", "Ages 31 to 35", "Ages 36 to 40", "Ages 41 and older"]
age_analysis

,Sales by Age Group,Avg Price by Age Group,Total Transactions
Minors,420.60,3.047826,138
Ages 18 to 24,1266.26,3.058599,414
Ages 25 to 30,293.00,2.900990,101
Ages 31 to 35,214.00,2.931507,73
Ages 36 to 40,147.67,3.601707,41
Ages 41 and older,38.24,2.941538,13

In [27]:
# Save the age purchasing analysis data frame as a csv
age_analysis.to_csv("Outputs/Age_Purchasing_Analysis.csv")



## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
# Data Prep - Group by SN and calculate total sales for each SN, average price for each SN, and number of transactions per SN
spender_sales =  purchase_data.groupby(["SN"],as_index=False).Price.sum()
spender_avgprice = purchase_data.groupby(["SN"],as_index=False).Price.mean()
spender_transcount = purchase_data.groupby(["SN"],as_index=False).Age.count()

In [29]:
# Create the data frame that shows the total sales, average price, and total transactions by user ID
spend_analysis = pd.DataFrame({
    "Sales": spender_sales.Price, "Avg Price": spender_avgprice.Price, "Total Transactions": spender_transcount.Age
})
spend_analysis.index = purchase_data["SN"].unique()
spend_analysis

               Sales  Avg Price  Total Transactions
Lisim78         2.28   2.280000                   1
Lisovynya38     4.48   4.480000                   1
Ithergue48      4.91   4.910000                   1
Chamassasya86   4.32   4.320000                   1
Iskosia90       1.79   1.790000                   1
...              ...        ...                 ...
Hala31          6.22   2.073333                   3
Jiskjask80      6.02   3.010000                   2
Aethedru70      4.58   4.580000                   1
Yathecal72      7.89   3.945000                   2
Sisur91         8.03   2.676667                   3

[576 rows x 3 columns]

In [30]:
# sort the data frame in descending order for total sales.
spend_analysis = spend_analysis.sort_values("Sales", ascending=False)
spend_analysis

              Sales  Avg Price  Total Transactions
Hisridru55    18.96   3.792000                   5
Wailin72      15.45   3.862500                   4
Sundim98      13.83   4.610000                   3
Saedaiphos46  13.62   3.405000                   4
Hilaerin92    13.10   4.366667                   3
...             ...        ...                 ...
Minduli80      1.02   1.020000                   1
Lisossa46      1.02   1.020000                   1
Aeralria27     1.01   1.010000                   1
Aesty53        1.01   1.010000                   1
Phaelap26      1.00   1.000000                   1

[576 rows x 3 columns]

In [31]:
# Save the spending analysis data as a csv
spend_analysis.to_csv("Outputs/Top_Spenders.csv")

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
# Retrieve the Item ID, Item Name, and Price columns
item_df = purchase_data[["Item ID", "Item Name", "Price"]]
item_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [33]:
# Data Prep - Group by Item ID and calculate total sales, average price, and number of transactions per Item ID
item_name = purchase_data["Item Name"].unique()
item_sales =  purchase_data.groupby(["Item ID"],as_index=False).Price.sum()
item_avgprice = purchase_data.groupby(["Item ID"],as_index=False).Price.mean()
item_transcount = purchase_data.groupby(["Item ID"],as_index=False).SN.count()

In [34]:
# create the data frame showing the item ID, item name, total sales, average price, and total transactions for each Item ID and item name
item_analysis = pd.DataFrame({"Item Name" : item_name, "Sales": item_sales.Price, "Avg Price": item_avgprice.Price, "Total Transactions": item_transcount.SN})
item_analysis.index = purchase_data["Item ID"].unique()
item_analysis

,Item Name,Sales,Avg Price,Total Transactions
108,"Extraction, Quickblade Of Trembling Hands",5.12,1.2800,4
143,Frenzied Scimitar,11.77,2.9425,4
92,Final Critic,14.88,2.4800,6
100,Blindscythe,14.94,2.4900,6
131,Fury,8.50,1.7000,5
...,...,...,...,...
47,"Alpha, Reach of Ending Hope",50.76,4.2300,12
130,Alpha,26.88,4.4800,6
90,Betrayer,8.30,1.6600,5
177,"Winterthorn, Defender of Shifting Worlds",12.09,4.0300,3
104,Gladiator's Glaive,3.27,1.0900,3

In [35]:
# sort by total sales in descending order
item_analysis_sort = item_analysis.sort_values("Total Transactions", ascending=False)
item_analysis_sort.index = purchase_data["Item ID"].unique()
item_analysis_sort

                              Item Name  Sales  Avg Price  Total Transactions
108   Freak's Bite, Favor of Holy Might  59.99   4.614615                  13
143         Alpha, Reach of Ending Hope  50.76   4.230000                  12
92                  Stormfury Longsword  41.22   4.580000                   9
100                Thunderfury Scimitar  28.99   3.221111                   9
131                 Dragon's Greatsword  31.77   3.530000                   9
..                                  ...    ...        ...                 ...
47    Thorn, Conqueror of the Corrupted   1.75   1.750000                   1
130              Relentless Iron Skewer   4.66   4.660000                   1
90                              Orenmir   2.17   2.170000                   1
177  Warmonger, Gift of Suffering's End   1.93   1.930000                   1
104             Brutality Ivory Warmace   4.17   4.170000                   1

[179 rows x 4 columns]

In [36]:
# print the data frame into a csv
item_analysis_sort.to_csv("Outputs/Most_Popular_Items.csv")

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [37]:
# sort by total sales in descending order for each item
item_analysis_sort_2 = item_analysis.sort_values("Sales", ascending=False)
item_analysis_sort_2.index = purchase_data["Item ID"].unique()
item_analysis_sort_2

,Item Name,Sales,Avg Price,Total Transactions
108,"Freak's Bite, Favor of Holy Might",59.99,4.614615,13
143,"Alpha, Reach of Ending Hope",50.76,4.230000,12
92,"Mercy, Katana of Dismay",44.10,4.900000,9
100,Stormfury Longsword,41.22,4.580000,9
131,Hopeless Ebon Dualblade,34.80,4.350000,8
...,...,...,...,...
47,"Stormbringer, Dark Blade of Ending Misery",2.12,1.060000,2
130,Yearning Mageblade,2.00,1.000000,2
90,"Tranquility, Razor of Black Magic",2.00,2.000000,1
177,"Warmonger, Gift of Suffering's End",1.93,1.930000,1
104,"Thorn, Conqueror of the Corrupted",1.75,1.750000,1

In [38]:
# print item analysis data frame that is now sorted.
item_analysis_sort_2.to_csv("Outputs/Most_Profitable_Items.csv")